.pendulum {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 4px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
}

.pendulum2 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: 1;
  /* margin-top: -20px; */
  text-align: center;
  text-transform: capitalize;
}

.quote {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: -10px;
  letter-spacing: 2px;
  line-height: 1.3;
  /* margin: 0 0 72px; */
  text-align: center;
}

.text {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;

  /* margin: 0 0 24px; */
  text-align: justify;
  text-justify: newspaper;
  letter-spacing: 1px;
}

.author {
  text-align: right;
  font-style: italic;
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}

.col {
  margin-inline: 20px;
}

/* no flexbox by default... */

@media (min-width: 768px) {
  /* when the screen is 768px or wider,
        turn it into a flexbox */
  .row {
    display: flex;
  }

  .col {
    flex-grow: 3;
  }
}

/* .carousal {
  width: 300px;
  height: 200px;
  /* opacity: 0.5; */
  /* background-color: black; */


.inlayCarousal {
  /* display: block; */
  /* opacity: 0.5; */
}

.imageCarousal {
  /* opacity: 0.5; */
}
